.face{
    height: 100px;
    width: 105px;
    background-color: pink;
    border-radius: 100%;
    /* border-radius: 100%; */
    position: relative;
    box-shadow: 0px 0px 1px 1px black;
}

.reye{
    height: 21px;
    width: 22px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 15px;
    box-shadow:0px 0px 1px 1px ;
}

.reb{
    height:12px;
    width: 10px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    left:20px ;
    padding-left: 1px;
}

.leye{
    height: 21px;
    width: 22px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    right: 15px;
    box-shadow: 0px 0px 1px 1px;
}

.leb{
    height:12px;
    width: 10px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    right: 20px;
    padding-left: 1px;
}

.mouth{
    height:20px ;
    width:40px;
    background-color: red;
    border-radius: 50px 50px 50px ;
    /* border-radius:50%; */
    position: absolute;
    top:60px; 
    left:33px;
    box-shadow: 0px 0px 1px 1px;
    
}

.rmd{
    height:10px;
    width: 10px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    right: 5px;
    padding-left: 1px;
}

.lmd{
    height:10px;
    width: 10px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: 5px;
    padding-left: 1px;
}
.container{
    margin-top: 50px;
    left: 100px;
    padding-left: 150px;
    
}

.re {
        width: 35px;
        height: 55px;
        background-color: pink;
        border-radius: 50% 50% 0 0;
        position: relative;
        /* transform: rotate(45deg); */
        top: -9px;
        right: -6px;
        overflow: hidden;
        /* box-shadow: 1px 1px 1px 1px; */
} 
.le{
        width: 35px;
        height: 55px;
        background-color: pink;
        border-radius: 50% 50% 0 0;
        position: relative;
        /* transform: rotate(45deg); */
        top: -65px;
        left: 62px;
        overflow: hidden;
    
        
  
} 






  


